* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
/*for the background*/
body {
  background-image: url(eerie.jpg);
  background-size: cover;
}

/*styling for the quiz-app*/
.app {
  background: #b61919;
  width: 90%;
  max-width: 600px;
  margin: 100px auto 0;
  border-radius: 10px;
  padding: 30px;
}

/*styling for head-text*/
.app h1 {
  font-weight: 25px;
  color: #d5d82a;
  font-weight: 600;
  border-bottom: 1px solid #323;
  padding-bottom: 30px;
}

.quiz {
  padding: 20px 0;
}
/*styling for the questions*/
.quiz h2 {
  font-size: 18px;
  color: #dae630;
  font-weight: 600;
}

.btn {
  background: #e8e9ea;
  color: #232;
  font-weight: 700;
  width: 100%;
  border: 2px solid #212;
  padding: 10px;
  margin: 10px 0;
  text-align: left;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover:not([disabled]) {
  background: rgb(150, 133, 115);
  color: #fff;
}
.btn:disabled {
  cursor: no-drop;
}
/*styling for the "next-button" after question is answered*/
#next-btn {
  background: #b4a81e;
  color: #fff;
  font-weight: 500;
  width: 150px;
  border: 0;
  padding: 10px;
  margin: 20px auto 0;
  border-radius: 5px;
  cursor: pointer;
  display: block;
}

/*styling for the background-color which appear when answer correct or wrong.
.correct {
  background: #9aeabd;
}
.incorrect {
  background: #e65a5a;
}
